* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: 50vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(249, 233, 113, 0.8)),
    url("banner.jpg");
}
.header img {
  width: 200px;
}
.title {
  color: white;
  font-size: 35px;
  text-align: center;
}
.title h2 {
  margin-top: 20px;
  font-size: 30px;
}
.title-button {
  width: 500px;
  height: 150px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.title-button a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 10px;
  width: 150px;
  height: 45px;
  font-size: 20px;
  position: relative;
  z-index: 2;
}
.title-button a span {
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  z-index: -1;
  transition: 0.5s;
}
.title-button a:hover span {
  width: 100%;
}
.title-button a:hover {
  color: black;
  transition: 0.5s;
}
.intro {
  font-size: 33px;
  color: black;
  text-align: center;
  width: 100%;
}
.intro h2 {
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 40px;
  color: green;
  font-weight: bold;
}
.intro p {
  width: 70%;
  text-align: justify;
  margin: auto;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(181, 249, 113, 0.8));
}
.second {
  font-size: 30px;
  color: black;
  text-align: left;
  margin-top: 30px;
}
.second h3 {
  font-size: 36px;
  margin-bottom: 20px;
}
.second p {
  width: 70%;
  text-align: justify;
  margin: auto;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(181, 249, 113, 0.8));
}
.land-disturbance {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  justify-items: center;
}
.land-disturbance img {
  width: 400px;
  height: 300px;
}
.land-disturbance h1 {
  margin-bottom: 30px;
  font-size: 40px;
}
.land-disturbance p {
  width: 80%;
  text-align: justify;
  margin: auto;
  font-size: 20px;
}
.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  width: 80%;
  margin: auto;
}
.one {
  width: 300px;
  height: 400px;
  margin-bottom: 150px;
  text-align: center;
  background: lightgoldenrodyellow;
  border-radius: 20px;
}
.one img {
  width: 80%;
  height: 200px;
}
.impacts {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
}
.impacts h2 {
  font-size: 35px;
  margin-top: 20px;
}
.people {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  width: 80%;
  margin: auto;
}
.two {
  width: 300px;
  height: 400px;
  margin-bottom: 150px;
  text-align: center;
  background: lightgoldenrodyellow;
  border-radius: 20px;
}
.two {
  width: 300px;
  height: 400px;
  margin-bottom: 150px;
  text-align: center;
  background: lightgoldenrodyellow;
  border-radius: 20px;
  transition:
    transform 0.4s ease,
    background-color 0.4s ease;
}

.two:hover {
  background-color: antiquewhite;
  transform: scale(1.03);
}
.two img {
  width: 50%;
  height: 150px;
  border-radius: 300px;
  margin-top: 20px;
}
.two .title2 {
  margin-top: 20px;
}
.two .text1 {
  width: 80%;
  margin: auto;
  text-align: justify;
}
.the {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.the h1 {
  font-size: 50px;
}
.the h2 {
  font-size: 30px;
  margin-top: 20px;
  color: green;
}
.footer {
  width: 100%;
  height: 100%;
  background:
    linear-gradient(
      to left,
      rgba(244, 241, 241, 0.3),
      rgba(249, 233, 113, 0.5)
    ),
    url("earth.jpg");
  background-position: center;
  background-size: cover;
}
.footer h1 {
  text-align: center;
  font-size: 50px;
  color: rgb(11, 11, 11);
  margin-top: 30px;
}
.footer h2 {
  text-align: center;
  font-size: 30px;
  color: rgb(66, 66, 66);
  margin-top: 20px;
}
.yes {
  text-align: center;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.hurt p {
  width: 80%;
  text-align: center;
  margin: auto;
  font-size: 20px;
  margin-bottom: 20px;
  color: rgb(117, 113, 113);
  font-weight: bold;
}
.footer hr {
  width: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin: auto;
  height: 10px;
  background-color: black;
}
.footer p {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
